.TaskBoard {
  min-height: 60vh;
  max-height: 80vh;
}

.TaskBoard h2 {
  margin: 10px;
}

.TableHeader,
.TableDataRow {
  list-style: none;
  display: flex;
  align-items: center;
  padding-inline-start: 0px;
  margin: 0px;
  justify-content: flex-end;
}

.TableHeader {
  height: 30px;
  color: #6d6d6d;
  border: 1px solid #afafaf;
  background-color: #dfdfdf;
  height: 35px;
}

.TableHeader li,
.TableDataRow li {
  float: left;
  width: 25%;
  padding: 10px;
  border-right: 1px solid #8f8f8f;
}

.TableDataRow {
  border: 0px;
  border-bottom: 1px;
  border-color: #afafaf;
  border-style: solid;
  height: 35px;
}

.TableHeader li:first-of-type,
.TableDataRow li:first-of-type {
  width: 20%;
}

.TableHeader li:first-of-type,
.TableDataRow li:first-of-type {
  width: 20%;
}

.TableBody ul:last-of-type {
    border-bottom: 0px;
}

.TableBody{
    max-height: 65vh;
    overflow-y: auto;
    border: 0px;
    border-right: 1px;
    border-left: 1px;
    border-bottom: 1px;
    border-color: #afafaf;
    border-style: solid;
}
