.LoginPage {
  width: 350px;
  height: 350px;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  margin: -50px 0 0 -50px;
  box-shadow: 0 0 12px rgb(0 0 0 / 5%);
  padding: 40px 20px;
}

.LoginForm {
  display: flex;
  flex-direction: column;
}

.LoginForm input {
  margin: 5px 0px;
  margin-inline: 20px;
  height: 35px;
  border: 1px solid #afafaf;
  border-radius: 4px;
  padding: 0px 10px;
}

.LoginForm button {
  margin: 5px 0px;
  margin-inline: 20px;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
}

.LoginForm .primary-btn {
  color: #ffffff;
  background-color: #ef5445;
  border: 2px solid #ef5445;
}

.LoginForm .secondary-btn {
  color: #6d6d6d;;
  border: 1px solid #afafaf;
  background-color:#dfdfdf
}
